@page
@model QandA.Pages.Identity.Account.RegisterCallbackModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterCallback</title>
</head>
<body>
</body>
</html>
